p.paragraph.
  Вчера приказала Помощнику, чтобы он привел деньги, вечером получила 50 евро за нумерологический прогноз, хотя раньше это делала в дар! Сегодня его угощаю, но предупредила, чтобы не расслаблялся!!!