p.paragraph.
  Меня зовут Светлана Синцова, живу в Тюмени, мне 53 года.
p.paragraph.
  Я обучалась в школе #[span.bold «Магия Рун»] с декабря 2018 по февраль 2019 года.
p.paragraph.
  С рунами познакомилась впервые три года назад. Конечно, я и раньше про них знала, но только как руническая письменность у древних славян и скандинавских народов. Но когда мне впервые предложили погадать на рунах (сейчас точно не помню, какую руну я тогда вытащила). Но хорошо запомнила ее значение: «Вы на правильном пути, надо идти в этом направлении».
p.paragraph.
  Конечно, в тот момент я и не думала, что буду заниматься рунами серьезно. До тех пор, пока мне на почту в ноябре 2018 не пришло письмо от Алории Собиновой с приглашением принять участие в 3-дневном онлайн марафоне.
p.paragraph.
  И хотя на почту приходит много предложений по обучению, и далеко не на все находится время, посмотрев короткий ролик с Алорией, мне захотелось принять это предложение. Наверное, подкупила располагающая внешность Алории, доброжелательное общение и спокойная уверенность в знании предмета.
p.paragraph.
  Три дня марафона пролетели незаметно, было очень интересно, захотелось подробнее изучить магию рун. И без всякого сомнения я решила пройти 3-месячное обучение. Сейчас, по окончании обучения, я понимаю, #[span.bold у меня начался новый этап в жизни.]
p.paragraph.
  #[span.bold Раскрылся дремавший до сих пор потенциал,] и это случилось благодаря Алории, на сегодняшний день лучшего преподавателя в этой области (я сравнила популярные школы преподавания искусству Рун).
p.paragraph.
  Конечно, было сложно уложить абсолютно новый для меня материал. Но Алория настолько терпеливо, структурированно подает материал плюс готовые конспекты, видеоматериал. Есть возможность повторять уроки в записи, обратная связь, общий чат – в общем, не усвоит знания только тот, кто не хочет. Но я пришла получить бесценные знания, которыми Алория щедро делилась с нами, новичками.
p.paragraph.
  В результате, лечу себя, мужа, тренируюсь пока на близких, а самое важное — #[span.bold получила сильную руническую защиту,] которую не смогла пробить черная колдунья (об этом узнала почти случайно).
p.paragraph.
  Я думаю, что такого результата я достигла еще и потому, что ценности, которые исповедует Алория, на 100% совпадают с моими: помощь людям, свобода в своих действиях и финансовая независимость.
p.paragraph.
  Подводя итог, посоветовала бы обучение Рунам именно у Алории Собиновой? Однозначно — ДА! Это единственный Учитель, которая заинтересована в достижении результатов своими учениками, и не достичь успеха невозможно!