p.paragraph.
  Добрый день! Меня зовут Рубинковская Натали.
p.paragraph.
  Я практикующий астролог. Около 5 лет консультирую клиентов. Ко мне приходят люди с разными запросами по основным сферам жизни – здоровье, деньги, бизнес, личные отношения, предназначение, вопросы красоты и т.д. Астрология дает ответы на многие вопросы. Но все же я стала искать дополнительные инструменты не только диагностики, но и коррекции, трансформации жизненных ситуаций и событийного ряда. 
p.paragraph.
  Так я начала изучать Руны, сначала как любитель, для себя и решения своих жизненных задач. Совершенно случайно я попала на бесплатный вебинар Алории по рунической диагностике негативных воздействий. #[span.bold Алория поразила меня своими знаниями, огромным терпением и невероятной внутренней силой.] Я сразу решила — вот мой Учитель, которого я так долго искала. Теперь-то я точно знаю, что случайных встреч не бывает!
  Сейчас я обучаюсь у Алории в “Школе профессионального рунолога”, также стараюсь не пропускать ни одного вебинара или воркшопа. 
p.paragraph.
  #[span.bold Волшебным образом ко мне стали приходить возможности, люди, события!] 
  Благодаря Алории #[span.bold я узнала о своем Высшем Предназначении], о своем даре и начала его развивать. 
  За это время изменилась не только я, но и вся моя жизнь. #[span.bold У меня увеличился поток клиентов в 3 раза и соответственно мой доход.] Я даже не могу перечислить количество техник, ритуалов, которые я освоила, обучаясь у Алории. 
p.paragraph.
  Сейчас я нахожусь всегда в потоке, легко вхожу в альфа-погружение, много энергии и желания обучаться. #[span.bold Поправляю денежную сферу.]
p.paragraph.
  Во время практик, я поняла, что у меня просыпается ясновидение. Была этому удивлена, так как всегда полагалась на свою интуицию.
p.paragraph.
  Выстроила спокойное отношение к миру, терпимое общение с бывшим мужем, принятие всего, что посылает пространство.