p.paragraph.
  Меня зовут Наталья Горячева. Мне 43 года.  Я из Казахстана, город Темиртау, Карагандинская область.Уже почти год знакома с Люмос 22 и прохожу курсы Алории Собиновой.
p.paragraph.
  В любом курсе от Алории меня привлекает личность наставника и твердая уверенность в том, что получу огромный опыт и бесценные знания. Чувствуется, что подаваемый материал продуман и тщательно отобран и будет однозначно  очень полезен.
p.paragraph.
  Получаю результаты всегда больше обещанных, так как знания Алории стимулируют мое развитие, стремление познать новое, расширить знания и опыт. 
p.paragraph.
  Я находилась в сложной ситуации по всем сферам жизни: здоровье, финансы, отношения — все было в глубоком кризисе.  Энергия и настроение на нуле.
p.paragraph.
  Проходя вебинары, делая практики по рунам и картам таро, работая со стихиями, постепенно чувствовала, что ситуация меняется.
p.paragraph.
  #[span.bold Улучшилось здоровье.] В этом сильно помогла работа со стихиями и свечами. После рунической чистки чакр практически перестала болеть вирусными заболеваниями, которые до этого случались 2 раза в месяц стабильно.
p.paragraph.
  #[span.bold Выравнивается ситуация с финансами.] До стабильности далеко, но из глубокой финансовой ямы уже выбираюсь. Количество долгов уменьшилось, зарплата увеличилась. Ритуалы с таро улучшили финансовое положение: практически сразу получила очень большую премию. 
p.paragraph.
  #[span.bold Определилась с предназначением,] что помогло спокойно уйти с работы.
  #[span.bold Появились клиенты в эзотерической области.] Раньше не чувствовала уверенности для работы в этом направлении, сейчас получается успешно консультировать людей. Есть первые результаты: постоянные клиенты, первые заработанные  деньги.
p.paragraph.
  Раньше я изучала все и сразу, долго не могла сосредоточится на чем-то конкретно, найти источник  восполнения энергии. Благодаря обучению у Алории поняла, в каком направлении надо развиваться.