p.paragraph.
  Меня зовут Валерий, я из г. Рыбница (Приднестровье), мне 56 лет. 
p.paragraph.
  Прошел обучение в #[span.bold «Школе Магии Рун»] Алории Собиновой по программе «Стандарт».
p.paragraph.
  До обучения я уже два года профессионально работал рунологом, зарабатывать удавалось только прожиточный уровень. Т.к. проживаю в регионе откуда большинство работоспособного населения старается уехать на заработки за границу.
p.paragraph.
  Клиентов из интернета не было, несмотря на то, что уже полгода, как создали совместно с дочкой канал в ютубе. Она предлагает таро-расклады, а я – астроформулы души и рунические ставы. 
p.paragraph.
  Сомнений в приобретении обучения у Алории не было совсем. Еще на бесплатных вебинарах я увидел, как превосходно она преподносит информацию. За последние 8 лет я видел достаточно тренеров и, поверьте, мне есть с кем сравнивать.
p.paragraph.
  #[span.bold В процессе обучения стало происходить что-то невероятное,] если сказать одним словом. Через неделю после того, как я прошел чистку по стратегии Алории и сделал эту же чистку для дочери, у нас пошли клиенты из нашего ютуб-канала, как из рога изобилия, причем на рекламу мы не потратили ни копейки. 
p.paragraph.
  #[span.bold В течение первого месяца обучения мои доходы выросли в 5 раз,] я в несколько раз повысил стоимость своих услуг. А у дочки пошли первые платные консультации по Таро, и она даже обогнала меня по доходам! На втором месяце обучения я уже применял и другие формулы из Школы Рун. Это позволило еще увеличить доходы, причем у дочки они почему-то росли быстрее, чем у меня. Наверное, потому что у нее больше нерешенных вопросов и ей приходится поднимать двух сыновей. 
p.paragraph.
  Обучение и моментальное применение знаний мгновенно давало отличные результаты в работе с клиентами. К какому результату я пришел через три месяца, закончив обучение? Наш ютуб-канал взлетел с нескольких десятков человек до 16 тысяч подписчиков, и это рывок за три месяца!
p.paragraph.
  Клиентов стало столько, что мы едва успеваем выполнять заказы. Соответственно, благодаря полученным доходам за эти три месяца, мы с ней закрыли столько финансовых моментов, что раньше на это уходили годы.
p.paragraph.
  Профессионально как рунолог, я вырос с первого уровня до седьмого по 10-бальной шкале. Самое удивительное, что и в других сферах жизни стали очень удачно складываться событийные ряды. Я очень доволен пройденным обучением, т.к. получил много знаний необходимых для моей работы. Все очень подробно и структурно разложено по полочкам в виде системы от А до Я. И эти знания сразу дали очень неожиданный для меня финансовый результат. Можно сказать, жизнь разделилась до и после обучения. Как будто ехал на телеге и вдруг пересел на самолет!
p.paragraph.
  Во время обучения столкнулся только с одной сложностью – не всегда успевал делать домашние задания, т.к. объем работы с клиентами очень резко вырос. Но это приятная сложность, и она решаема, сейчас еще раз пройду курс в записи.
p.paragraph.
  Хочется сказать, что Алория – Учитель и Маг с большой буквы. Больше всего запомнилась ее мысль о том, что можно выйти победителем из любой ситуации, и она сама тому яркий пример. 
p.paragraph.
  Тем, кто сомневается в обучении у Алории, советую побывать на бесплатных вебинарах, и вам все сразу станет ясно. 
p.paragraph.
  #[span.bold Почему я выбрал обучение именно у нее?] Алория экстра-профессионал во всем что делает, искренний человек, очень доходчиво преподает. Еще отозвалось то, из какой тяжелейшей жизненной ситуации она сумела выйти победителем. У меня у дочери была отчасти похожая ситуация, ее беременную вторым ребенком бросил мужчина с кучей кредитов на съемной квартире без средств к существованию.
p.paragraph.
  Я забрал ее с детьми в свою квартиру и сообща мы уже закрыли все кредиты, купили дочке новую мебель, собираем деньги на отдельную квартиру. И все это благодаря в большей степени тому, какой рывок я совершил за время обучения у Алории. 
p.paragraph.
  Алория! Огромная благодарность Вам за эту ценность в виде знаний и опыта, которую я получил во время обучения!