p.paragraph.
  Здравствуйте и процветайте! Меня зовут Ирина Бекк, 59 лет, живу в Нижнем Новгороде.
p.paragraph.
  Я обучалась у Алории Магии свечи, недавно начала курс в школе Таро и Руны. Я давно просматривала многих преподавателей по Таро и Рунам, это направление всегда привлекало.
p.paragraph.
  Почему выбрала именно Алорию? Привлекли ее сила и энергия! Для меня важно, как говорит преподаватель, подача информации, голос, вид.
p.paragraph.
  Она прекрасно знает свои темы, чувствуется большой жизненный и профессиональный опыт. Она думает о каждом ученике, заботится, чтобы он получил знания и сразу применял в жизни для себя и близких. Прекрасный мотиватор! Ее жизненные ценности совпадают с моими. Очень понравились ее слова: «Делать за вас я точно не могу. Я могу помочь, передать свои знания и ценности. Наши клиенты осваивают новые профессии для того, чтобы зарабатывать деньги, помогая другим». Вот это и многое другое меня привлекло к Алории.