@import '../../assets/css/utils/_vars.scss';
@import '../-common/components/input/_input.scss';

.row {
  outline: 1px solid red;
}

// flow ========================================================================
.header {
  padding-top: 65px;
  padding-bottom: 130px;

  .logotype {
    position: absolute;
    left: 100px;
    top: -40px;
  }

  .header-content {
    max-width: 751px;
    margin: 0 auto;

    .heading {
      margin-bottom: 15px;
    }

    .sub-heading {
      margin-bottom: 60px;
    }

    .main-heading {
      margin-bottom: 15px;
    }

    .description {
      margin-bottom: 65px;
    }
  }

  .subscribe {
    margin-bottom: 15px;

    .input {
      height: 50px;
      width: 262px;
      margin: 0 15px;

      line-height: 50px;
    }
  }
}

// theme =======================================================================
.header {
  color: $colorFontWhite;
  background: url('../-common/components/header/img/bg.jpg') center center/cover no-repeat;

  .heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }

  .sub-heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }

  .main-heading {
    color: $colorFontGold;
    font-weight: 800;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
  }

  .description {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  .agree {
    color: $colorFontLight;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
  }

}

// questions ===================================================================

// === flow
.questions {
  padding-top: 75px;

  .question {
    margin-bottom: 35px;
    max-width: 941px;
    margin-left: auto;
    margin-right: auto;
  }

  .item {
    margin-bottom: 85px;
  }

  .image {

    &.image_left {
      margin-top: 20px;
      margin-left: 75px;
    }

    &.image_right {
      margin-top: 5px;
      margin-right: 80px;
    }
  }

  .content {
    max-width: 580px;

    .paragraph {
      margin-bottom: 10px;
      padding: 15px 0;
    }
  }
}

// === theme
.questions {
  color: $colorFontBlack;

  .question {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;

    .highlight {
      color: $colorFontGold;
    }
  }

  .content {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    &.text-left {
      text-align: left;
    }

    &.text-right {
      text-align: right;
    }

    .paragraph {

      &.paragraph_left-arrow {
        position: relative;

        padding-left: 25px;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: -30px;

          height: 100%;
          width: 13px;

          width: 0px;
          height: 0px;
          border: 70px solid #ffffff;
          border-right-color: $colorHighlight;
          border-left-width: 0;
          border-bottom-color: transparent;
          border-top-color: transparent;

          transform: scale(0.20, 1) translate(0, -50%);
        }
      }

      &.paragraph_right-arrow {
        position: relative;

        padding-right: 25px;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          right: -22px;

          height: 100%;
          width: 13px;

          width: 0px;
          height: 0px;
          border: 55px solid #ffffff;
          border-left-color: $colorHighlight;
          border-right-width: 0;
          border-bottom-color: transparent;
          border-top-color: transparent;

          transform: scale(0.20, 1) translate(0, -50%);
        }
      }

    }
  }
}