
<header class="header">
  <div class="container text-center">
    <div class="row">
      <div class="col"><a class="logotype" href="#"><img class="logotype__img" src="./pages/-common/img/logo.png" alt="logotype"/></a>
        <div class="header-content">
          <p class="heading">БЕСПЛАТНЫЙ ОНЛАЙН-ПРАКТИКУМ АЛОРИИ СОБИНОВОЙ</p>
          <p class="sub-heading">18 февраля в 20:00 мск</p>
          <h1 class="main-heading">АКТИВАЦИЯ ПОТОКА ФИНАНСОВОЙ УДАЧИ</h1>
          <p class="description">На практикуме вы разблокируете свой денежный поток и научитесь подключаться к Эгрегору денег, в результате чего увеличите благосостояние и улучшите качество своей жизни</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form class="subscribe" method="post" action="https://echo.htmlacademy.ru">
          <input class="input input_round input_white" type="text" name="email" placeholder="Введите e-mail" required="required"/>
          <input class="input input_round input_red" type="submit" name="submit" value="ЗАПИСАТЬСЯ БЕСПЛАТНО"/>
        </form>
        <p class="agree">Я согласен на обработку моих персональных данных в соответствии с Условиями</p>
      </div>
    </div>
  </div>
</header>