footer.footer.clearfix
  .container
    .support
      p.support__heading Служба поддержки
      a.support__email(href="#") info@aloriya-sobinova.com

      a(href="#").support__button.input.input_square.input_red.button Заказать обратный звонок

    .wrapper
      a(href="#").affiliate-program ПартнерскаЯ программа

      .copyright
        p.paragraph ИП Хохлов Олег Геннадиевич
        p.paragraph ОГРН 31373273030027 / ИНН 732771866121
        a(href="#").confidentiality Политика конфиденциальности