header.header
  .container.text-center
    .row
      .col
        a(href="#").logotype
          img.logotype__img(src="./pages/-common/img/logo.png" alt="logotype")
        .header-content
          p.heading БЕСПЛАТНЫЙ ОНЛАЙН-ПРАКТИКУМ АЛОРИИ СОБИНОВОЙ
          p.sub-heading 18 февраля в 20:00 мск
          h1.main-heading АКТИВАЦИЯ ПОТОКА ФИНАНСОВОЙ УДАЧИ
          p.description На практикуме вы разблокируете свой денежный поток и научитесь подключаться к Эгрегору денег, в результате чего увеличите благосостояние и улучшите качество своей жизни
    .row
      .col
        form.subscribe(method="post" action="https://echo.htmlacademy.ru")
          input.input.input_round.input_white(type="text" name="email" placeholder="Введите e-mail" required)
          input.input.input_round.input_red(type="submit" name="submit" value="ЗАПИСАТЬСЯ БЕСПЛАТНО")
        p.agree Я согласен на обработку моих персональных данных в соответствии с Условиями