.input {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 50px;
  border: none;
  text-transform: uppercase; }
  .input.button {
    display: block;
    height: 60px;
    line-height: 60px;
    padding: 0 60px;
    text-align: center;
    font-weight: 500;
    font-size: 15px; }
  .input.input_round {
    border-radius: 35px; }
  .input.input_white {
    background-color: #FAF9F9;
    color: #000000; }
  .input.input_red {
    background-color: #DB0707;
    color: #ffffff; }

.row {
  outline: 1px solid red; }

.header {
  padding-top: 65px;
  padding-bottom: 130px; }
  .header .logotype {
    position: absolute;
    left: 100px;
    top: -40px; }
  .header .header-content {
    max-width: 751px;
    margin: 0 auto; }
    .header .header-content .heading {
      margin-bottom: 15px; }
    .header .header-content .sub-heading {
      margin-bottom: 60px; }
    .header .header-content .main-heading {
      margin-bottom: 15px; }
    .header .header-content .description {
      margin-bottom: 65px; }
  .header .header-subscribe {
    margin-bottom: 15px; }
    .header .header-subscribe .input {
      width: 262px;
      margin: 0 15px; }

.header {
  color: #E5E5E5;
  background: url("../-common/components/header/img/bg.jpg") center center/cover no-repeat; }
  .header .heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase; }
  .header .sub-heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px; }
  .header .main-heading {
    color: #DDA859;
    font-weight: 800;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase; }
  .header .description {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px; }
  .header .agree {
    color: #EDD9D9;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px; }

.questions {
  padding-top: 75px; }
  .questions .question {
    width: 100%;
    margin-bottom: 35px;
    max-width: 941px;
    margin-left: auto;
    margin-right: auto; }
  .questions .item {
    margin-bottom: 85px; }
  .questions .image.image_left {
    margin-top: 20px;
    margin-left: 75px; }
  .questions .image.image_right {
    margin-top: 5px;
    margin-right: 80px; }
  .questions .content {
    max-width: 580px; }
    .questions .content .paragraph {
      margin-bottom: 10px;
      padding: 15px 0; }

.questions {
  color: #000000; }
  .questions .question {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase; }
    .questions .question .highlight {
      color: #DDA859; }
  .questions .content {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px; }
    .questions .content.text-left {
      text-align: left; }
    .questions .content.text-right {
      text-align: right; }
    .questions .content .paragraph.paragraph_left-arrow {
      position: relative;
      padding-left: 25px; }
      .questions .content .paragraph.paragraph_left-arrow::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -30px;
        height: 100%;
        width: 13px;
        width: 0px;
        height: 0px;
        border: 70px solid #ffffff;
        border-right-color: #DDA859;
        border-left-width: 0;
        border-bottom-color: transparent;
        border-top-color: transparent;
        transform: scale(0.2, 1) translate(0, -50%); }
    .questions .content .paragraph.paragraph_right-arrow {
      position: relative;
      padding-right: 25px; }
      .questions .content .paragraph.paragraph_right-arrow::before {
        content: "";
        position: absolute;
        top: 50%;
        right: -22px;
        height: 100%;
        width: 13px;
        width: 0px;
        height: 0px;
        border: 55px solid #ffffff;
        border-left-color: #DDA859;
        border-right-width: 0;
        border-bottom-color: transparent;
        border-top-color: transparent;
        transform: scale(0.2, 1) translate(0, -50%); }

.subscribe {
  padding-top: 80px;
  padding-bottom: 80px; }
  .subscribe .subscribe__description {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px; }
  .subscribe .subscribe__button {
    margin: 0 auto; }

.subscribe {
  background: #2b1431 URL("./img/bg.jpg") center bottom/cover no-repeat; }
  .subscribe .subscribe__description {
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    text-align: center;
    color: #DDA859; }
  .subscribe .subscribe__button {
    font-weight: 500;
    font-size: 15px; }

.lesson-plan {
  padding-top: 70px;
  padding-bottom: 40px;
  position: relative; }
  .lesson-plan::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 44%;
    background-color: #FFF8EF; }
  .lesson-plan .plan-card {
    margin: 0 auto;
    padding-top: 37px;
    padding-bottom: 27px;
    max-width: 752px;
    margin-bottom: 70px; }
    .lesson-plan .plan-card .wrapper {
      padding-left: 65px;
      padding-right: 65px; }
    .lesson-plan .plan-card .plan-card__heading {
      margin-bottom: 40px; }
    .lesson-plan .plan-card .plan-list {
      margin-bottom: 30px;
      padding-left: 30px; }
      .lesson-plan .plan-card .plan-list .plan-list__item:not(:last-child) {
        margin-bottom: 22px; }
    .lesson-plan .plan-card .plan-card__description {
      margin-bottom: 40px; }
    .lesson-plan .plan-card .plan-card__second-heading {
      margin-bottom: 40px;
      padding: 10px 0; }
    .lesson-plan .plan-card .result-list {
      margin-bottom: 30px;
      padding-left: 110px;
      padding-right: 70px; }
      .lesson-plan .plan-card .result-list .result-list__item:not(:last-child) {
        margin-bottom: 22px; }
  .lesson-plan .conviction {
    margin: 0 auto; }
    .lesson-plan .conviction .conviction__heading {
      max-width: 555px;
      margin: 0 auto;
      margin-bottom: 60px; }
    .lesson-plan .conviction .conviction-list {
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      justify-content: space-around;
      margin-bottom: 5px; }
      .lesson-plan .conviction .conviction-list .conviction-list__item {
        position: relative;
        margin-bottom: 40px;
        max-width: 355px;
        min-width: 320px;
        padding-top: 15px; }
    .lesson-plan .conviction .subscribe__button {
      margin: 0 auto; }

.lesson-plan {
  color: #000000;
  text-align: left; }
  .lesson-plan .plan-card {
    border: 3px solid #DDA859;
    border-radius: 10px;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px; }
    .lesson-plan .plan-card .plan-card__heading {
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      line-height: 36px; }
    .lesson-plan .plan-card .plan-list .plan-list__item {
      position: relative; }
      .lesson-plan .plan-card .plan-list .plan-list__item::before {
        content: "";
        position: absolute;
        left: -30px;
        top: 6px;
        width: 10px;
        height: 10px;
        background: #DDA859;
        border-radius: 50%; }
    .lesson-plan .plan-card .plan-card__description {
      font-weight: bold; }
    .lesson-plan .plan-card .plan-card__second-heading {
      position: relative;
      left: 0;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      color: #FFFFFF; }
      .lesson-plan .plan-card .plan-card__second-heading::before {
        content: "";
        z-index: -1;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #DDA859; }
    .lesson-plan .plan-card .result-list .result-list__item {
      position: relative; }
      .lesson-plan .plan-card .result-list .result-list__item::before {
        content: "";
        position: absolute;
        left: -60px;
        top: 0;
        width: 40px;
        height: 40px;
        background: #DDA859;
        border-radius: 50%; }
      .lesson-plan .plan-card .result-list .result-list__item::after {
        position: absolute;
        left: -47px;
        top: 0;
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        color: #FFFFFF; }
      .lesson-plan .plan-card .result-list .result-list__item.item_1::after {
        content: "1"; }
      .lesson-plan .plan-card .result-list .result-list__item.item_2::after {
        content: "2"; }
      .lesson-plan .plan-card .result-list .result-list__item.item_3::after {
        content: "3"; }
  .lesson-plan .conviction .conviction__heading {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase; }
  .lesson-plan .conviction .conviction-list .conviction-list__item {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-top: 1px solid #DDA859; }
    .lesson-plan .conviction .conviction-list .conviction-list__item::before {
      content: "";
      position: absolute;
      top: -7px;
      left: 50%;
      transform: translate(-50%);
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #DDA859; }

.about {
  padding-top: 40px; }
  .about .about-content {
    margin-bottom: 65px; }
  .about .about__heading {
    padding-top: 15px;
    margin-bottom: 30px; }
  .about .about-list {
    padding-left: 20px; }

.about .about__heading {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px; }

.about .about-list .about-list__item {
  position: relative;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px; }
  .about .about-list .about-list__item:not(:last-child) {
    margin-bottom: 22px; }
  .about .about-list .about-list__item::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #765F7D; }

.feedback {
  position: relative;
  background-color: blue;
  height: 200px; }
  .feedback::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    height: 100px;
    z-index: -1;
    background-color: green; }

/*# sourceMappingURL=index.css.map */
