.input {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 50px;
  border: none;
  text-transform: uppercase; }
  .input.button {
    height: 60px;
    line-height: 60px;
    padding: 0 60px;
    font-weight: 500;
    font-size: 15px; }
  .input.input_round {
    border-radius: 35px; }
  .input.input_white {
    background-color: #FAF9F9;
    color: #000000; }
  .input.input_red {
    background-color: #DB0707;
    color: #ffffff; }

.row {
  outline: 1px solid red; }

.header {
  padding-top: 65px;
  padding-bottom: 130px; }
  .header .logotype {
    position: absolute;
    left: 100px;
    top: -40px; }
  .header .header-content {
    max-width: 751px;
    margin: 0 auto; }
    .header .header-content .heading {
      margin-bottom: 15px; }
    .header .header-content .sub-heading {
      margin-bottom: 60px; }
    .header .header-content .main-heading {
      margin-bottom: 15px; }
    .header .header-content .description {
      margin-bottom: 65px; }
  .header .header-subscribe {
    margin-bottom: 15px; }
    .header .header-subscribe .input {
      width: 262px;
      margin: 0 15px; }

.header {
  color: #E5E5E5;
  background: url("../-common/components/header/img/bg.jpg") center center/cover no-repeat; }
  .header .heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase; }
  .header .sub-heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px; }
  .header .main-heading {
    color: #DDA859;
    font-weight: 800;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase; }
  .header .description {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px; }
  .header .agree {
    color: #EDD9D9;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px; }

.questions {
  padding-top: 75px; }
  .questions .question {
    width: 100%;
    margin-bottom: 35px;
    max-width: 941px;
    margin-left: auto;
    margin-right: auto; }
  .questions .item {
    margin-bottom: 85px; }
  .questions .image.image_left {
    margin-top: 20px;
    margin-left: 75px; }
  .questions .image.image_right {
    margin-top: 5px;
    margin-right: 80px; }
  .questions .content {
    max-width: 580px; }
    .questions .content .paragraph {
      margin-bottom: 10px;
      padding: 15px 0; }

.questions {
  color: #000000; }
  .questions .question {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase; }
    .questions .question .highlight {
      color: #DDA859; }
  .questions .content {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px; }
    .questions .content.text-left {
      text-align: left; }
    .questions .content.text-right {
      text-align: right; }
    .questions .content .paragraph.paragraph_left-arrow {
      position: relative;
      padding-left: 25px; }
      .questions .content .paragraph.paragraph_left-arrow::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -30px;
        height: 100%;
        width: 13px;
        width: 0px;
        height: 0px;
        border: 70px solid #ffffff;
        border-right-color: #DDA859;
        border-left-width: 0;
        border-bottom-color: transparent;
        border-top-color: transparent;
        transform: scale(0.2, 1) translate(0, -50%); }
    .questions .content .paragraph.paragraph_right-arrow {
      position: relative;
      padding-right: 25px; }
      .questions .content .paragraph.paragraph_right-arrow::before {
        content: "";
        position: absolute;
        top: 50%;
        right: -22px;
        height: 100%;
        width: 13px;
        width: 0px;
        height: 0px;
        border: 55px solid #ffffff;
        border-left-color: #DDA859;
        border-right-width: 0;
        border-bottom-color: transparent;
        border-top-color: transparent;
        transform: scale(0.2, 1) translate(0, -50%); }

.subscribe {
  padding-top: 80px;
  padding-bottom: 60px; }
  .subscribe .subscribe__description {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px; }
  .subscribe .subscribe__button {
    display: block;
    margin: 0 auto; }

.subscribe {
  background: #2b1431 URL("./img/bg.jpg") center bottom/cover no-repeat; }
  .subscribe .subscribe__description {
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    text-align: center;
    color: #DDA859; }
  .subscribe .subscribe__button {
    font-weight: 500;
    font-size: 15px; }

/*# sourceMappingURL=index.css.map */
