<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" )
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="shortcut icon" href="./favicon.ico")
    link(rel="stylesheet" href="./assets/vendors/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="./pages/-common/css/base.css")
    link(rel="stylesheet" href="./pages/index/index.css")

    title Активация потока финансовой удачи/ Алория

  body
    .center-line-temporality

    include ./pages/-common/components/header/header.jade

    section.questions
      .container.text-center

        h2.question ЧТО МЕШАЕТ ВАМ 
          span.highlight БРАТЬ ОТ ЖИЗНИ БОЛЬШЕ?
        .row.item
          .col-5
            img.image.image_left(src="./pages/index/img/mind.jpg" alt="mind")
          .col-7.content.text-left
            p.paragraph.
              Каждый человек с рождения наделен очень большим и мощным потенциалом финансовой удачи. В идеальной картине удача сопровождает нас во всех начинаниях: при поиске работы, в бизнесе, денежных вложениях, бытовых тратах. 
            p.paragraph.paragraph_left-arrow.
              Но большинство людей этот #[b потенциал неосознанно блокируют:] страхами новых начинаний, боязнью потерпеть неудачу, отказом использовать новые возможности, постоянно находясь в зоне комфорта, неверием в собственные силы.
            p.paragraph.
              В результате этих поступков или бездействия человек отталкивает от себя финансовую удачу. Как следствие испытывает нужду.

        h2.question КАК ВЫБРАТЬСЯ из финансового тупика 
          span.highlight и повысить КАЧЕСТВО СВОЕЙ ЖИЗНИ?
        .row.justify-content-end
          .col-7.content.text-right
            p.paragraph.
              За наш материальный достаток отвечает Эгрегор финансовой удачи и очень важно выстроить с ним канал взаимодействия. В результате чего вы повысите свои внутренние вибрации, уберете страхи и притянете к себе денежные возможности. 
            p.paragraph.paragraph_right-arrow.
              Денежный эгрегор резонирует со смелыми желаниями и решительными действиями. #[b Негативные мысли, мнительность, нерешительность разрушают вашу связь с денежным Эгрегором и перекрывают энергию денег.]
            p.paragraph.
              Существует способ, чтобы подключиться к Эгрегору денег, я расскажу о нем на практикуме.
          .col-5
            img.image.image_right(src="./pages/index/img/mind-and-cash.jpg" alt="mind")

    section.subscribe
      .container.text-center
        .row.text-center
          p.subscribe__description.
            На практикуме вы с помощью специальной техники <br>
            подключитесь к финансовому потоку удачи, который дан вам при рождении, <br>
            тем самым активируете его и привлечете новые финансовые возможности <br>
            на свою линию жизни
          a(href="#").subscribe__button.input.input_round.input_red.button ЗАПИСАТЬСЯ НА ПРАКТИКУМ

    section.lesson-plan
      .container
        .row
          .plan-card
            h2.plan-card__heading ПРОГРАММА ЗАНЯТИЯ
            .wrapper
              ul.plan-list
                li.plan-list__item Как мы сами себе блокируем финансовые потоки
                li.plan-list__item Что мешает нам зарабатывать больше
                li.plan-list__item Как подключиться к денежному Эгрегору
                li.plan-list__item Как разблокировать финансовую удачу, которая дана нам при рождении
                li.plan-list__item Почему в период Раху стоит расширять свои финансовые возможности и как извлечь из этого выгоду
              p.plan-card__description.
                Практика подключения к потокам финансовой удачи, данных вам от рождения
            p.plan-card__second-heading РЕЗУЛЬТАТЫ ПОСЛЕ ПРАКТИКУМА
            ul.result-list
              li.result-list__item.item_1 Вы понимаете, как сами себе блокируете денежный поток, и знаете, как убрать эти блокировки
              li.result-list__item.item_2 Вы активировали свой личный поток финансовой удачи и увеличили количество денежных событий на своей линии времени
              li.result-list__item.item_3 Знаете как работать с денежным Эгрегором и подключаться к нему, чтобы притягивать к себе денежные возможности

        .row
          .conviction
            h2.conviction__heading ВАМ ОБЯЗАТЕЛЬНО НУЖНО БЫТЬ НА ПРАКТИКУМЕ, ЕСЛИ ВЫ:
            ul.conviction-list
              li.conviction-list__item хотите улучшить <br> свой финансовый статус
              li.conviction-list__item уже предприняли множество попыток для улучшения своего положения, но ничего не вышло
              li.conviction-list__item постоянно теряете или меняете одну работу на другую
              li.conviction-list__item не понимаете причины <br> своей финансовой неудачи
              li.conviction-list__item мечтаете построить <br> успешную карьеру
        .row.d-flex.justify-content-center
          a(href="#").subscribe__button.input.input_round.input_red.button ЗАПИСАТЬСЯ НА ПРАКТИКУМ








    script(src="./assets/vendors/bootstrap/js/jquery-3.4.1.min.js")
    //- script(src="./assets/vendors/bootstrap/js/popper.min.js")
    script(src="./assets/vendors/bootstrap/js/bootstrap.min.js")
    script(src="./pages/index/index.js")
